extends ../../layout/default.pug

block main 
    div(class="dashboard")
        div(class="container")
            div(class="dasboard-head")
                div(class="row")
                    div(class="col-12")
                        h1(class="dashboard-title") Trang tổng quan của cửa hàng Vy food
            
            div(class="dashboard-content")
                div(class="dashboard-list")
                    div(class="dashboard-item")
                        div(class="card")
                            h2(class="card-amount") 2
                            div(class="card-image")
                                img(src="/admin/images/dashboard1.png", alt="Dashboard Image 1")
                            div(class="card-content")
                                h2(class="card-title") Khách hàng 
                                p(class="card-descr") Sản phẩm là bất cứ cái gì có thể đưa vào thị trường để tạo sự chú ý, mua sắm, sử dụng hay tiêu dùng nhằm thỏa mãn một nhu cầu hay ước muốn. Nó có thể là những vật thể, dịch vụ, con người, địa điểm, tổ chức hoặc một ý tưởng.

                    div(class="dashboard-item")
                        div(class="card")
                            h2(class="card-amount") 63
                            div(class="card-image")
                                img(src="/admin/images/dashboard2.png", alt="Dashboard Image 2")
                            div(class="card-content")
                                h2(class="card-title") Sản phẩm
                                p(class="card-descr") Khách hàng mục tiêu là một nhóm đối tượng khách hàng trong phân khúc thị trường mục tiêu mà doanh nghiệp bạn đang hướng tới.

                    div(class="dashboard-item")
                        div(class="card")
                            h2(class="card-amount") 540.000 ₫
                            div(class="card-image")
                                img(src="/admin/images/dashboard3.png", alt="Dashboard Image 3")
                            div(class="card-content")
                                h2(class="card-title") Doanh thu
                                p(class="card-descr") Doanh thu của doanh nghiệp là toàn bộ số tiền sẽ thu được do tiêu thụ sản phẩm, cung cấp dịch vụ với sản lượng.
