header(class="header")
    div(class="container")
        div(class="row") 
            div(class="col-12")
                div(class="header-inner")
                    div(class="header-admin") ADMIN
                    div(class="header-account")
                        a(
                            href="/admin/authen/logout"
                            class="btn btn-logout"
                        ) Đăng xuất
                        //- div(class="account-avatar")
                        //-     img(src="/admin/images/admin.png", alt="Avatar")

                        //- div(class="account-descr")
                        //-     p(class="account-name") Nguyễn Bảo Long 
                        //-     p(class="account-route") Admin
